
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs justify-content-center mt-2">
    <li class="nav-item">
        <a class="nav-link" href="/Provinsi/Index">Provinsi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Pilihan/Index">Pilihan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Lapak/Index">Lapak</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Item/Index">Item</a>
    </li>
</ul>

